<article class="post">

  {{#each posts as |post| }}
    <div class="card">
      <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{pet_name}}</a></h4>
        <p>Posted by {{user.username}} on {{created_at}}</p>
      </div>
      <p class="card-body">The cute pet is {{age}} years old, and the health is {{health_condition}}</p>
      <p class="card-body">You can find it at {{address}} and feed it</p>
    </div>
  {{/each}}

</article>